# Environment variables - API keys
.env

# Database and instance folder
instance/
*.db
*.db-journal

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
myenv/
venv/

# VSCode settings
.vscode/
.env